.mui-appbar {
    background-color: #43A047;
}

#footer {
    background-color: #43A047;
}

a {
    color: #2E7D32;
}

a:focus, a:hover {
    color: #1B5E20;
}

.mui-textfield>input:focus, .mui-textfield>textarea:focus {
    border-color: #388E3C;
}


.mui-btn--primary {
    background-color: #00897B;
}

.mui-btn--primary:hover, .mui-btn--primary:focus {
    background-color: #009688;
}


.mui-tabs__bar>li.mui--is-active>a {
    color: #43A047;
}

.mui-tabs__bar>li.mui--is-active {
    border-bottom: 2px solid #2E7D32;
}

.mui-tabs__pane{
      margin: 30px 0;
}

.mui-tabs__bar li a{
  cursor: pointer;
}

.text-right{
  text-align: right;
}

.mui-btn--accent {
    background-color: #EC407A;
}